.recipe-card {
    height: 20rem;
    width: 18rem;
    text-decoration: none;
    color: #000;
}

.recipe-card img {
    margin-bottom: 1rem;
    width: 18rem;
}

.recipe-card:hover {
    cursor: pointer;
    text-decoration: underline;
}