.ellipses {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.custom-card {
    max-height: 30rem;
    width: 18rem;
    text-decoration: none;
    color: #000;
}

.custom-card img {
    margin-bottom: 1rem;
    width: 18rem;
}

.custom-card:hover {
    cursor: pointer;
    text-decoration: underline;
}